.gitignore
PYTHON-GAME/
employees/
library-management/
library-management - Copy/
mysite/
mytodo_func/
PyShop/
python-learning/
pythonProject/
testing/
testing-env/
todo/
tutorial/
user-profile/
mytodo_class/.venv/