{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if todos %}
                <p>Total Todos: {{ todos|length}}</p>
                <ul class="nav nav-tabs" id="todoTabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="inProgress-tab" data-toggle="tab" href="#inProgress" role="tab" aria-controls="inProgress" aria-selected="true">In-progress ({{ progress }})</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Completed ({{ completed }})</a>
                  </li>
                </ul>
                <div class="tab-content" id="tabContent">
                  <div class="tab-pane fade show active" id="inProgress" role="tabpanel" aria-labelledby="inProgress-tab">
                    <div id="accordion">
                      {% for todo in todos %}
                        {% if todo.todo_status == False %}
                        <div class="card">
                        <div class="card-header" id="heading{{forloop.counter}}">
                            <h5 class="mb-0">
                            <p class="btn btn-link card-title" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="" aria-controls="collapse{{forloop.counter}}">
                              <span>{{todo.title}}</span>
                              <span class="todo-metadata">
                                <span class="todo-users">
                                  {% for mylist in todo.assign_to.all %}
                                      <span>{{ mylist }}{% if not forloop.last %},{% endif %}</span>
                                  {% endfor %}
                                </span>
                                <span class="todo-date">{{todo.created_on}}</span>
                              </span></p>
                            </h5>
                        </div>
                    
                        <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                            <div class="card-body">
                                {{todo.description}}
                                <p class="pt-4 mb-3"><strong>Assign to:</strong> 
                                    {% for mylist in todo.assign_to.all %}
                                        <span>{{ mylist }}{% if not forloop.last %},{% endif %}</span>
                                    {% endfor %}
                                </p>
                                <p><a href="{% url 'edit_todo' todo.id %}">View Detail</a></p>
                            </div>
                        </div>
                        </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                    <div id="accordion-comp">
                      {% for todo in todos %}
                        {% if todo.todo_status == True %}
                        <div class="card">
                        <div class="card-header" id="heading{{forloop.counter}}">
                            <h5 class="mb-0">
                            <p class="btn btn-link card-title" data-toggle="collapse" data-target="#completed{{forloop.counter}}" aria-expanded="" aria-controls="completed{{forloop.counter}}">
                                <span>{{todo.title}}</span>
                                <span class="todo-metadata">
                                  <span class="todo-users">
                                    {% for mylist in todo.assign_to.all %}
                                        <span>{{ mylist }}{% if not forloop.last %},{% endif %}</span>
                                    {% endfor %}
                                  </span>
                                  <span class="todo-date">{{todo.created_on}}</span>
                                </span></p>
                            </h5>
                        </div>
                    
                        <div id="completed{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion-comp">
                            <div class="card-body">
                                {{todo.description}}
                                <p class="pt-4 mb-3"><strong>Assign to:</strong> 
                                    {% for mylist in todo.assign_to.all %}
                                        <span>{{ mylist }}{% if not forloop.last %},{% endif %}</span>
                                    {% endfor %}
                                </p>
                                <p><a href="{% url 'edit_todo' todo.id %}">View Detail</a></p>
                            </div>
                        </div>
                        </div>
                        
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                
              {% else %}
                <p>No Todo available</p>
              {% endif %}
        </div>
    </div>
</div>
{% endblock %}