form label{display: block;}
form textarea{width: 100%;}
.todo-header { background-color: #000; color: #fff; padding: 10px; display: flex;}
.todo-header h1{font-size: 20px; margin-bottom: 0;}
span.toto-header-status { flex: 1; text-align: right; font-size:14px;}
.todo-wrapper{border: 1px solid #ccc;}
.assign-users{padding: 30px 10px 10px;}
form.comment-form { display: flex; }
form.comment-form label { margin: 0 10px 0 0; }
form.todo-form, form.comment-form{padding: 10px; }
.comment-form textarea{height: 30px; padding: 0 10px;}
.comments { border-top: 2px solid; margin: 5px 0; }
.comment-item { display: flex; padding: 10px 0; border-bottom: 1px dashed; }
.comment-list { padding: 0 10px; }
.comment-item span:first-child, .comment-meta span { flex: 1; }
.comment-meta { display: flex; flex-direction: column; flex: 0 0 25%; text-align: right; font-size: 12px; }